@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans&display=swap');

a,h1,h2,h3,h4,h5 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
strong {
  font-weight: 900;
}
.navbar {
  padding: 20px;
  letter-spacing: 1px;
}

.nav-link {
  padding: 15px !important;
  font-size: 12px;
  font-weight: 600;
  color: #FFF !important;
}
.active > .nav-link {
  color: #FCAC45 !important;
}
.navbar-brand {
  font-size: 22px;
  font-weight: 900;
}

header {
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0, 0, 0, 0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%), url('../img/01.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.fas {
  color: #fff;
  font-size: 1.2em;
}
.ico {
  align-self: center;
  width: 50px;
  height: 50px;
  border: 2px solid #b4b4b4;
  border-radius: 50%;
  transition: all .4s;
}
.ico:hover {
  background-color: #FCAC45;
  border: 1px solid #FCAC45;
}
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15% 0;
  text-align: center;
}
#home > h1 {
  font-size: 36px;
  color: #CFCFCF;
}
#home > h1 > strong {
  color: #FCAC45;
}
#home > p {
  color: #E3E3E3;
  font-size: 21px;
  font-weight: 100;
}